[include mainsail.cfg]

[force_move]
enable_force_move: True

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434041070DA1C-if00

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 3000

# --- X AXIS (SENSORLESS) ---
[stepper_x]
step_pin: gpio11
dir_pin: gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 250
homing_speed: 25

[tmc2209 stepper_x]
uart_pin: gpio9        
tx_pin: gpio8          
uart_address: 0
run_current: 0.8
stealthchop_threshold: 0
diag_pin: ^gpio4
driver_SGTHRS:80

# --- Y AXIS (SENSORLESS) ---
[stepper_y]
step_pin: gpio6
dir_pin: gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 250
homing_speed: 25

[tmc2209 stepper_y]
uart_pin: gpio9        
tx_pin: gpio8          
uart_address: 2
run_current: 0.8
stealthchop_threshold: 0
diag_pin: ^gpio3
driver_SGTHRS: 80

# --- Z AXIS (DUMMY) ---
[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 40
endstop_pin: ^gpio25
position_endstop: 0
position_max: 200
homing_speed: 50

[tmc2209 stepper_z]
uart_pin: gpio9         
tx_pin: gpio8           
uart_address: 1         
run_current: 0.8

# --- HOMING OVERRIDE ---
[homing_override]
axes: xyz
gcode:
  # 1. Temporarily weaken the motors so they stall easily against the wall
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.6
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.6
  
  # Pause for 1 second to let the electrical current stabilize
  G4 P1000
  
  # 2. Fake-home Z, then force-move away from walls without needing valid kinematics
  SET_KINEMATIC_POSITION Z=0
  FORCE_MOVE STEPPER=stepper_x DISTANCE=10 VELOCITY=10
  FORCE_MOVE STEPPER=stepper_y DISTANCE=10 VELOCITY=10

  # 3. Check what you typed in the console and only home those axes
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
  
  {% if home_all or 'X' in params %}
    G28 X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    G28 Y
  {% endif %}
  
  # 4. Restore full printing power to the motors
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.8
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.8
  # 5. Confirm successful completion
  RESPOND MSG="Homing Done"
  
# --- PYTHON API MACRO ---
[gcode_macro RUN_PROBE_SEQUENCE]
gcode:
    {% set incoming_aperture = params.APERTURE|default(5.0)|float %}
    
    G28 X Y
    G90 
    G1 X{incoming_aperture} Y10 F3000
    G1 X0 Y0 F3000

# --- SQUARE MOVE MACRO ---
[gcode_macro SQUARE_MOVE]
gcode:
    {% set speed = params.SPEED|default(3000)|float %}
    G28 X Y
    G90
    G1 X0 Y0 F{speed}
    G1 X200 Y0 F{speed}
    G1 X200 Y200 F{speed}
    G1 X0 Y200 F{speed}
    G1 X0 Y0 F{speed}
    RESPOND MSG="Square Move Done

[gcode_arcs]
resolution: 1.0